{% extends "govuk/template.njk" %}

{% set htmlClasses = 'no-js' %}

{% from "header/macro.njk" import appHeader %}
{% from "breadcrumbs/macro.njk" import appBreadcrumbs %}
{% from "components/service-navigation/macro.njk" import appServiceNavigation with context %}

{% block head %}
<link href="{{ '/assets/application.css' | canonicalUrl }}" rel="stylesheet">
<meta property="og:title" content="{{ title }}">
{% if description %}<meta property="og:description" name="description" content="{{ description | markdown('inline') | striptags(true) }}">{% endif %}
<meta property="og:image" content="{{ '/images/opengraph-image.png' | canonicalUrl }}">
<meta name="robots" content="noindex nofollow">
{% endblock %}

{% block pageTitle %}
  {% if title %}{{ title }} - {% endif %}{{ app.serviceName or app.productName }} - GOV.UK
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: app.url or "/"
  }) }}
  {{ appServiceNavigation(options.serviceNavigation) if options.serviceNavigation }}
{% endblock %}

{% block beforeContent %}
  {{ appBreadcrumbs({
    classes: "govuk-!-display-none-print",
    title: title,
    items: collections.all,
    key: eleventyNavigation.key
  }) if eleventyNavigation and eleventyNavigation.key and eleventyNavigation.parent }}
{% endblock %}

{% set mainClasses = mainClasses | default("govuk-main-wrapper--auto-spacing") %}

{% block footer %}
  <div class="govuk-!-display-none-print">
    {{ govukFooter({
      meta: {
        items: [
          {
            text: "Sitemap",
            href: "/sitemap"
          },
          {
            text: "Acronyms",
            href: "https://github.com/ministryofjustice/acronyms"
          }
        ]
      }
    }) }}
  </div>
{% endblock %}

{% block bodyEnd %}
  {% block scripts %}
    <script src="{{ '/assets/application.js' | canonicalUrl }}" type="module"></script>
    {% block pageScripts %}{% endblock %}
  {% endblock %}
{% endblock %}
